/* This file is for your main application css. */
body {
  background: rgb(195, 142, 251) none repeat scroll 0% 0%;
}

.row.track {
  border: 1px solid gray;
  margin: 1px;
}

.track-info {
  background: #ccffcc;
}

.row.track.nowplaying {
  background: #ffffcc;
  border: 1px solid blue;
}
