/* This file is for your main application css. */
body {
  background: rgb(215, 162, 251) none repeat scroll 0% 0%;
}

header, footer {
  width: 100%;
  position: fixed;
  z-index: 1;
}

#fast-forward:hover {
  color: black;
  border: 1px solid #888;
  border-radius 3px;
}

header {
  background: #38BC8F;
  border-bottom: 1px solid gray;
}

footer {
  border-top: 1px solid gray;
  bottom: 0;
  background: #25956F;
}

/* Hide GitHub corner on small screens */
@media(max-width: 576px) {
  a.github-corner {
    display: none;
  }
}

a.github-corner svg {
  z-index: 9001;
}

#tracklist {
  padding-top: 3em;
}

.track {
  border: 1px solid gray;
  margin-bottom: -1px;
  background: #fff0de;
  cursor: default;
}

.ellipsize {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 0;
  padding-bottom: 4px;
}

.track.nowplaying {
  background: #ccffcc;
}

.track:hover {
  background: #ccccff;
}

a.download {
  display: none;
}

.center-text {
  text-align: center;
}
