/* This file is for your main application css. */
body {
  background: rgb(215, 162, 251) none repeat scroll 0% 0%;
}

.row.track {
  border: 1px solid gray;
  background: #fff0de;
}

.track-info {
}

.row.track.nowplaying {
  background: #ccffcc;
}
